{% extends "back/base.html" %}

{% block title %}
    增加文章
{% endblock %}

{% block content %}
      <form action="" method="post" class="user" enctype="multipart/form-data" >
        {% csrf_token %}

        <div  class="form-group">
            <input type="text" name="title" placeholder="文章名字" class="form-control form-control-user">
        </div>
        <div  class="form-group">
            <input type="text" name="description" placeholder="文章描述" class="form-control form-control-user">
        </div>
        <div  class="form-group">
            <input type="text" name="content" placeholder="文章内容" class="form-control form-control-user">
        </div>
        <div  class="form-group">
            <select name="author" class="btn btn-warning dropdown-toggle btn-user btn-block">
                <option value="0">---作者----</option>
                    {% for one in author %}
                        <option value="{{ one.id }}">{{ one.name }}</option>
                    {% endfor %}
            </select>
        </div>
        <div  class="form-group">
            <select name="type" class="btn btn-warning dropdown-toggle btn-user btn-block">
                <option value="0">---文章类型----</option>
                    {% for one in article_type %}
                        <option value="{{ one.id }}">{{ one.type_name }}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="form-group">
            上传图片：<input type="file" name="picture">
        </div>

        <input class="btn btn-primary btn-user btn-block "type='submit' value="发表文章">
  </form>
{% endblock %}